/* Fonts Import */
@import url("./../assets/fonts/style.css");
/* Variables */
:root {
  --bg: #c4ccd3;
  --footer-bg: #6e8595;

  --link: #4e5254;
}
/* Global Styling */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--bg);
  font-family: "AirFactoryRounded Regular 3";
  min-height: 100vh;
}
ul {
  list-style: none;
}
/* Header Styling */
.header {
  padding: 2rem 0;
}
.header .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.5rem;
}
.header .nav-list > li {
  font-size: 2.25rem;
  color: var(--link);
  font-family: "AirFactoryRounded Regular 3";
  cursor: pointer;
}
.header .nav-list .logo {
  width: 6rem;
  transform: translateY(0.35rem);
}
/* Footer Styling */
.footer {
  padding: 0.45rem 0 0.3rem;
  background-color: var(--footer-bg);
  text-align: center;
  color: #fff;
  font-style: italic;
}
